<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Manage mailconf!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> -->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <div class="header">
        User: login/logout |
        <a href="/domain/">domain</a> | <a href="/account/">account</a> | <a href="/alias/">alias</a>
        </div>