</div>
<footer class="footer">
      <span class="colophon">
        vmail-manage is a project from <a href="https://github.com/Andreas-Bresch">@andy</a>. Read more <a
            href="https://github.com/Andreas-Bresch/vmailManage#readme">here</a>.
      </span>
  <span class="links">
        <span>See the source on <a href="https://github.com/Andreas-Bresch">Github</a></span>
      </span>
</footer>
<script src="{{ asset('js/main.js') }}"></script>
</body>
</html>
