{{ include('base.html.twig') }}
<div class=inner>
  <article class="page page-index">
    <header>
      <h1>Welcome to vmailManage!</h1>
    </header>
    <section class="intro">
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p>
          vmailManage is a simple mail server administration panel. It allows you to create, update and delete all
          available domains, mail accounts and aliases on your mail server.
        </p>
        <p>
          To start right off, please choose one of the navigation links above.
        </p>
      {% else %}
        <p>Please log in using the link in the upper right edge of the page.</p>
      {% endif %}
    </section>
  </article>
</div>
{{ include('base_bottom.html.twig') }}
