{{ include('base.html.twig') }}

<h1>vmailManage</h1>
<p>This site helps you to manage your email server,
installed by this manual:
<a href="https://thomas-leister.de/mailserver-unter-ubuntu-16.04/">https://thomas-leister.de/mailserver-unter-ubuntu-16.04/</a>
    (Dovecot, Postfix, MySQL)</p>

{{ include('base_bottom.html.twig') }}