{% from 'macros/table.twig' import table, action, dangerousAction, primaryAction %}
{{ include('base.html.twig') }}
<article class="page page-list-domains">
  <header>
    <h1>Domains</h1>
    <h2>Manage domain availability</h2>
  </header>
  {% set showNote = false %}
  {% set domainList = [] %}

  {% for domain in domains %}
    {% set domainList = domainList | merge([ [
    domain.domain,
    dangerousAction('Delete', '/domain/delete/' ~ item.id, [ 'delete' ] )
    ] ]) %}
  {% endfor %}

  {{ table( [ 'Domain', 'Action' ], domainList, [ primaryAction( 'New Domain', '/domain/new' ) ] ) }}
</article>
{{ include('base_bottom.html.twig') }}
