{% from 'macros/table.twig' import table, action, dangerousAction, primaryAction %}
{{ include('base.html.twig') }}
<article class="page page-list-aliases">
  <header>
    <h1>Aliases</h1>
    <h2>Manage account aliases</h2>
  </header>

  {% set aliasList = [] %}

  {% for alias in aliases %}
    {% set aliasList = aliasList | merge( [ [
    alias.source_username ~ '@' ~ alias.source_domain,
    alias.destination_username ~ '@' ~ alias.destination_domain,
    alias.enabled ? 'yes' : 'no',
    action('Edit', '/alias/' ~ alias.id) ~ dangerousAction('Delete', '/alias/delete/' ~ alias.id, [ 'delete' ] )
    ] ] ) %}
  {% endfor %}

  {{ table( [ 'Alias', 'Account', 'Enabled', 'Action' ], aliasList, [
    primaryAction( 'New Alias', '/alias/new' )
  ] ) }}
</article>
{{ include('base_bottom.html.twig') }}
