{% from 'macros/table.twig' import table, action, dangerousAction, primaryAction %}
{{ include('base.html.twig') }}
<article class="page page-list-accounts">
  <header>
    <h1>Accounts</h1>
    <h2>Manage mail accounts</h2>
  </header>
  {% set accountList = [] %}
  {% for account in accounts %}
    {% set accountList = accountList | merge( [ [
    account.username,
    account.domain,
    account.quota ~ ' <span class="unit">MB</span>',
    account.enabled ? 'yes' : 'no',
    account.sendonly ? 'yes' : 'no',
    dangerousAction('Delete', '/account/delete/' ~ account.id, [ 'delete' ] )
    ] ] ) %}
  {% endfor %}

  {{ table( [
  'Username',
  'Domain',
  'Quota',
  'Enabled',
  'Send only',
  'Action'
  ], accountList, [ primaryAction( 'New Account', '/account/new') ] ) }}
</article>
{{ include('base_bottom.html.twig') }}
