.footer {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  padding-top:     var(--spacing-small);
  padding-bottom:  var(--spacing-small);
  color:           var(--color-light-text);
  text-shadow:     1px 1px rgba(255, 255, 255, 0.5);
  font-weight:     300;
  font-size:       var(--font-size-small);
  user-select:     none;
}
