.header {
  display:         flex;
  justify-content: space-between;
  padding-top:     var(--spacing-small);
  padding-bottom:  var(--spacing-small);
  background:      var(--color-primary-dark);
  color:           var(--color-primary-dark-contrast);
  user-select:     none;
}

.header a {
  display:         block;
  padding:         var(--spacing-small);
  border:          none;
  text-decoration: none;
  text-transform:  uppercase;
  font-weight:     400;
  font-size:       1.2rem;
}

.header a:hover,
.header a.active {
  color: var(--color-primary);
}

.header_menu {
  display:    flex;
  text-align: left;
}

.header_logon {
  text-align: right;
}
