.page {
  margin:        var(--spacing-base) 0 0;
  padding:       calc(var(--spacing-base) * 2);
  border-radius: var(--border-radius-base);
  box-shadow:    0 1px 5px rgba(0, 0, 0, .1);
  background:    var(--color-page);
}

.page header {
  padding: 0 0 calc(var(--spacing-base)) 0;
}

@media screen and (max-width: 920px) {
  .page {
    border-radius: 0;
    box-shadow:    none;
    padding:       var(--spacing-small);
  }
}
