
.table {
  width:           100%;
  margin:          0;
  border:          none;
  border-radius:   2px;
  border-collapse: collapse;
}

.table .column-row {
  border-radius: 2px 2px 0 0;
  box-shadow:    0 1px 5px rgba(0, 0, 0, .1);
}

.table .column-row .column-header {
  text-align:  left;
  color:       var(--color-primary-dark-contrast);
  font-weight: 400;
  background:  var(--color-primary-dark);
}

.table .column-row .column-header:first-child {
  border-top-left-radius: inherit;
}

.table .column-row .column-header:last-child {
  border-top-right-radius: inherit;
}

.table .data-row {
  background: var(--color-page);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.125s;
}

.table .data-row:hover {
  background: #f9f9f9;
}

.table .data-row:last-child {
  border-radius: 0 0 2px 2px;
}

.table .data-row:nth-child(even) .data-cell {
  /* background-color: #e1f5fe;*/
}

.table .data-row:last-child .data-cell:first-child {
  border-bottom-left-radius: inherit;
}

.table .data-row:last-child .data-cell:last-child {
  border-bottom-right-radius: inherit;
}

.table .data-row:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.table .actions {
  display:         flex;
  justify-content: flex-end;
  padding:         var(--table-spacing) 0 0;
}

.table .column-header.action {
  padding-left: calc(var(--table-spacing) * 2);
  color:        transparent;
}

.table .column-header.enabled,
.table .data-cell.enabled {
  text-align: center;
}

.table .column-header.send-only,
.table .data-cell.send-only {
  text-align: center;
}

.table .column-header.quota,
.table .data-cell.quota {
  text-align: right;
}

.table .data-cell.action {
  display:         flex;
  justify-content: flex-end;
}

.column-header,
.data-cell {
  padding: var(--spacing-base) var(--table-spacing);
}

tfoot td {
  padding: 0;
}

@media screen and (max-width: 920px) {
  :root {
    --table-spacing: 0.5rem;
  }

  .table .data-cell.quota .unit {
    display: none;
  }
}
