:root {
  --color-white:                 #fcfcfc;
  --color-black:                 #111;
  --color-red:                   #e57373;

  --color-primary:               #03a9f4;
  --color-primary-contrast:      var(--color-white);
  --color-primary-dark:          #263238;
  --color-primary-dark-contrast: #888;
  --color-text:                  #666;
  --color-background:            #f0f0f0;
  --color-page:                  var(--color-white);

  --spacing-base:                1rem;
  --spacing-small:               calc(var(--spacing-base) / 2);
  --table-spacing:               1rem;
  --table-spacing-small:         calc(var(--table-spacing) / 2);

  --font-size-base:              1rem;
  --font-size-big:               calc(var(--font-size-base) * 1.25);
  --font-size-small:               calc(var(--font-size-base) * 0.75);
}
